/*버튼*/
.btn_box{
    width: 450px; height: 40px;
    position: absolute;
    top:30%; left: 75%;
    transform:translateY(-50%);
}
button[class*=btn]{
  width:120px;
  height:40px;
  background-color:#004fff;
  border:none;
  color:white;
  box-shadow:0 4px 16px rgba(0, 79, 255, 0.3);
  font-size:16px;
  font-weight:bold;
  border-radius: 20px;
  transition:0.3s;
}
button[class*=btn]:hover{
    background-color:#004fffe6;
    cursor:pointer;
    box-shadow:0 2px 4px rgba(0, 79, 255, 0.6);
}
button[class*=btn]:focus{outline:0;}

/* 스크롤 */
.print_table{
  position: absolute;
  width: 50%; height: 1000px;
  top:70%; left: 50%;
  transform: translate(-50%, -30%);
  overflow-y: scroll;
  border: 1px solid gray;
  z-index:2;
  
}

/* print할 내용 */
.print_table .write_info,
.print_table .user_sign{
  width: 95%; height: 1060px;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}

/* 생활관입사신청 */
.print_table .write_info .dormitory .notice{
    width: 99%; height: 100%;
    border: 1px solid gainsboro;
}
.print_table .write_info .dormitory .notice p{padding-left: 10px;}
.print_table .write_info .dormitory .notice p:first-child,
.print_table .write_info .dormitory .notice p:last-child{color:red; padding: 10px;}
.print_table .write_info .dormitory .notice ol{
    padding: 10px 0px 0px 30px;
}
.print_table .write_info .dormitory .notice ol li{padding: 5px 0px 0px}

.print_table .write_info .dormitory .info{width: 99%; height: 100%; border: 1px solid gainsboro; margin-top: 30px;}
.print_table .write_info .dormitory .info h2{text-align: center; padding-top: 20px;}
.print_table .write_info .dormitory .info h2 p{font-size: 13pt;}
.print_table .write_info .dormitory .info table{
    margin-top: 20px;
}
.print_table .write_info .dormitory .info table tr td
{
    border: 1px solid gainsboro;
    padding: 10px;
    width: 200px;
}
.print_table .write_info .dormitory .info table tr td input,
.print_table .write_info .dormitory .info table tr td select{
    width: 90%;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid gainsboro;
}
.print_table .write_info .dormitory .info table tr td button{margin-left: 10px; border-radius: 20px; padding: 5px 10px 5px 10px; outline: none; border: none; cursor: pointer; background:#c4314e; color: white;}
.print_table .write_info .dormitory .info table tr td input:focus,
.print_table .write_info .dormitory .info table tr td select:focus{border-bottom: 2px solid #107bf5;}
.print_table .write_info .dormitory .info table tr td button:hover{background: #ad2944; transition: all 0.8s;}

.print_table .user_sign table tr td{border: 1px solid gainsboro; padding: 5px;}
.print_table .user_sign table tr th{background: gainsboro;  padding: 5px;}
.print_table .user_sign table tr th p{font-size: 12pt;}
.print_table .user_sign table tr th:first-child{width: 80px;}
.print_table .user_sign table tr td span{float: right;}
.print_table .user_sign table tr td span input[type="checkbox"]{margin-left: 10px;}
/* footer */
footer{
  position: absolute;
  width: 100%; height: 80px;
  background: white;
  bottom: -500px;
}
footer button{
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  padding: 10px;
  background: #c4314e;
  border: 0px;
  width: 300px;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
footer button:hover{
  background: #ad2944;
}
footer button a,
footer button ion-icon{
  color:white;
}
.graduate_plan{
  position: absolute;
  left: 50%; transform: translateX(-50%);
}

