html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}

.title h2{
  text-align: center;
  color:blue;
}

/*테이블*/
  #table_1{
    width: 750px;
    height: 25px;
    z-index:1;
    position:absolute;
    font-size: 15pt;
  }

  #table_1 th{
    border: 1px solid gray; 
    border-radius: 3%; 
    width: 150px;
    padding: 10px 0px 10px 0px;
  }
    
  #table_1 td{
    width:150px;
    height: 10px;
    padding-right: -5px;
    padding: 5px 0px 5px 0px;

}

  /*텍스트*/
  .inph_1{
    width: 150px;
    height: 30px;
  font-size: 12pt;
  margin-left: 5px;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid gray;
  outline:none; 
}
  
  .inph_3{
    width: 450px;
    height: 30px;
    font-size: 12pt;
    margin-left: 5px;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid gray;
    outline:none; 
  }


  
/*우편번호 찾기 버튼*/
  .btn_1{
    width: 130px; height: 40px;
    background:#DFE6F7;
    color: black;
    font-size: 13pt;
    border: solid 1px #DFE6F7;
    margin-left:8px;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 20px;
    cursor: pointer;
  }
  .btn_1:hover{background-color: #c6ccda;}

  /*저장 버튼*/
  .btn_2{
    width: 80px; height: 50px;
    position: absolute;
    background:rgb(167, 43, 67);
    border: solid 1px rgb(167, 43, 67);
    color: white;
    font-size: 15pt;
    right: 0px;
    bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
  }
  .btn_2:hover{background-color: rgb(156, 45, 68);}
 

  



