html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}
body{font-style: initial;}
/*수강신청*/
.table_box{
    position: absolute;
    width: 90%; height: 40%;
    top:42%; left: 50%;
    transform: translate(-50%, -30%);
    overflow-y: scroll;
    border: 1px solid gray;
    z-index:1;
}

/*테이블*/
#app_table{
    position: absolute;
    width: 95%;
    top:50%; left: 50%;
    transform: translate(-50%, -30%);
    padding-top: 8%; padding-bottom: 3%;
    z-index:1;
    background: white;
  }

#app_table th, td{
  padding-top: 5px;
  padding-bottom: 5px;

}
#app_table th{
    font-size:14pt;
    border: 1px solid gray;
  }
 
    
#app_table td{
    width: 170px;
    height: 20px;
    padding-right: -5px;
    border-style: solid;
    border-width: 0 1px  1px 1px; 
    text-align: center;
    font-size:11pt;
    border: 1px solid rgb(189, 187, 187);
  }
  
/*버튼*/
.app_btn{
  width: 100px; height: 35px;
  background:rgb(167, 43, 67);
  border: solid 1px rgb(167, 43, 67);
  color: white;
  font-size: 11pt;
  border-radius: 20px;
  font-weight: bold;

}
.app_btn:hover{background-color: rgb(156, 45, 68);}


/*수강신청 내역*/
.table_box1{
  position: absolute;
  width: 90%; height: 30%;
  top: 90%; left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  border: 1px solid gray;
  z-index:2;
}

.app_box{
  width: 1200px; height: 1000px;
}
.table_box1 th{
  padding-top: 10px;
  text-align: center;
}

/*테이블*/
#app_table_2{
  position: absolute;
  width: 95%;
  top:-80px; left: 50%;
  transform: translateX(-50%);
  padding-top: 8%; padding-bottom: 3%;
  z-index:1;
  background: white;
}

#app_table_2 th, td{
padding-top: 5px;
padding-bottom: 5px;

}
#app_table_2 th{
  font-size:14pt;
  border: 1px solid gray;
}

  
#app_table_2 td{
  width: 170px;
  height: 20px;
  padding-right: -5px;
  border-style: solid;
  border-width: 0 1px  1px 1px; 
  text-align: center;
  font-size:11pt;
  border: 1px solid rgb(189, 187, 187);
}