html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}

#header_1{
  width: 100%; height: 30px;
  top:260px;
  background-color: rgba(131, 128, 128, 0.253);
  position: fixed;
  z-index: 10;
  border-radius: 30px;
}
#header_1 li {
    font-size: 15pt;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-left: 8px;}

/*테이블*/
  #table_1{
    width: 70%;
    height: 25px;
    left: 50%; top: 32%;
    margin: -5px 0 0 -35%;
    z-index:1;
  }

th, td{
  padding-top: 5px;
  padding-bottom: 10px;
}
  table th{
    font-size:15pt;
    border: 1px solid gray;
  }
 
    
  table td{
    width: 200px;
    height: 10px;
    padding-right: -5px;
    border-style: solid;
    border-width: 0 1px  1px 1px; 
    border-color: rgb(190, 188, 188) rgb(190, 188, 188); 
    text-align: center;
    font-size:12pt;
}
  
/*버튼*/
.btn_2{
  position:absolute;
  width: 100px; height: 40px;
  background:rgb(167, 43, 67);
  border: solid 1px rgb(167, 43, 67);
  color: white;
  font-size: 15pt;
  border-radius: 10px;
  font-weight: bold;
  top:1180px; left: 80%;
  margin-bottom: 10px;
}
.btn_2:hover{background-color: rgb(156, 45, 68);}

/*체크 박스*/
.check input{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.check input:checked ~ .icon_1::before{height: 50px; transition: all .35s ease;}
.check input:checked ~ .icon_1::after{height: 120px; transition: all .35s ease .35s;}


  



