
.label_content{
    position: fixed;
    top:32%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.label_content input{display: none;}

/*í´ë¦­í•˜ë©´ ë‚˜ì˜¤ëŠ” ì°½*/
.label_content input + label + div{
    display: none;
    width: 700px;
    height: 800px;
    background: white;
    border: 1px solid #eee;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-93%, -25%); /*ì •ê°€ìš´ë°ë¡œ ë³´ë‚´ê¸° ìœ„í•´ì„œ ì‚¬ìš©*/
 
}
.label_content input:checked + label + div {display: block;}
.label_content input + label + div label{ /*ë²„íŠ¼*/
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #333;
    color:#fff;
    padding: 20px;
}

h2{
 text-align: center;
 background: cadetblue;
 color:white;
 padding: 5px;
}
.content input{
    display: inline;
    padding: 10px;
    width: 100px;
}
.content .info_table{
    padding: 20px;
    width: 600px;
    height: 400px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 60;
    border: 3px solid cadetblue;
}

.content .info_table td{
    font-size: 11pt;
}
table th{
    font-weight: 900;
    font-size: 12pt;
    width: 120px;
    border: 3px solid cadetblue;
}
 .content  #text{
     width: 120px;
    background: #f5f5f500;
    border: 3px solid cadetblue;

}
