html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}

body {
  width:960px;
  margin: 0 auto;
  height: 100%; 
  display: flex;
  align-items: center; 
}

/*맨위에 있는 헤더*/
.top_header{
    height: 25px; width: 100%;
    background-color: rgb(167, 43, 67);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index:50;
}
/*학교 로고*/
.top_img{
  position: fixed;
  left: 0; top:45px; right: 0;
  z-index:50;
}

.background_img{
  position: fixed;
  left: 0; top: 25%; 
  z-index:1;
}

/*로그인 background*/
.login_main{
  position: absolute;
  height: 500px; width: 700px;
  background: #fff9f9ce;
  z-index:5;
  border-radius: 20px;
  top: 60%; left: 50%;
  transform: translate(-50%, -50%);
  /*  margin: -150px 0 0 -350px; /*margin : (height/2)px 0 0 (width/2)px <-중앙배열  */
}
/* 로그인 header */
.login_main .header{text-align: center; margin-top: 40px;}
.login_main .header h2{padding-bottom: 10px;}

/* login body */
.login_main .body{  
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%, -50%);
}
.login_main .body input[type="id"],
.login_main .body input[type="password"]{
  display: block;
  outline: none; border: 2px solid #92929204;
  border-bottom: 2px solid rgb(92, 92, 92);
  margin-top: 10px;
  width: 250px; padding:10px;
  font-size: 12pt;
  background: #fff9f904;
  border-radius: 3px;
}

.login_main .body input[type="id"]:focus,
.login_main .body input[type="password"]:focus{
  border: 2px solid #3083ff;
  border-radius: 3px;
}
.login_main .body .login_btn{
  width: 280px; height: 38px;
  padding: none;
  border: none;
  border-radius: 20px;
  background: linear-gradient(125deg,#a72b43,#f04164,#c43451);
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 12pt;
  transition: all 0.5s;
  margin-top: 20px;
}
.login_main .body .login_btn:hover{background-position: right;}

/* login footer */
.login_main .footer{
  position: relative;
  top: 53%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login_main .footer .find p{display: inline-block; cursor: pointer; transition: all 0.5s;}
.login_main .footer .find p:first-child{padding-right: 5px; border-right: 1px solid rgb(172, 172, 172);}
.login_main .footer .find p:hover{ color:  rgb(167, 43, 67); font-weight: bold;}
.login_main .footer .pn{margin-top: 60px;}


/*찾기 background*/
.find_main{
  position: absolute;
  height: 500px; width: 700px;
  background: #fff9f9ce;
  z-index:5;
  border-radius: 20px;
  top: 60%; left: 50%;
  transform: translate(-50%, -50%);
  /*  margin: -150px 0 0 -350px; /*margin : (height/2)px 0 0 (width/2)px <-중앙배열  */
}
/* 찾기 header */
.find_main .header{text-align: center; margin-top: 50px;}
.find_main .header h2{padding-bottom: 10px;}

/* login body */
.find_main .body{  
  position: absolute;
  top: 45%; left: 50%;
  transform: translate(-50%, -50%);
}
.find_main .body input[type="text"]{
  display: block;
  outline: none; border: 2px solid #fff9f904;
  border-bottom: 2px solid rgb(92, 92, 92);
  margin-top: 10px;
  width: 250px; padding: 10px;
  font-size: 12pt;
  background: #fff9f904;
  border-radius: 3px;
}
.find_main .body input[type="text"]:focus{
  border: 2px solid #3083ff;
  border-radius: 3px;
}
.find_main .body .find_btn{
  width: 280px; height: 38px; 
  border: none;
  border-radius: 20px;
  background: linear-gradient(125deg,#a72b43,#f04164,#c43451);
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 12pt;
  margin-top: 20px;
}
.find_main .body .find_btn:hover{background-position: right;}

/* login footer */
.find_main .footer{
  position: relative;
  top: 56%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.find_main .footer .find p{display: inline-block; cursor: pointer; transition: all 0.5s;}
.find_main .footer .find p:first-child{padding-right: 5px; border-right: 1px solid rgb(172, 172, 172);}
.find_main .footer .find p:hover{ color:  rgb(167, 43, 67); font-weight: bold;}
.find_main .footer .pn{margin-top: 60px;}
