
html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}
/* 메인 */
.main_page01{
  width: 100%;
  position:absolute;
  top:260px;
  border: 1px solid black;
}
/* 페이지 순서 */
.main_page01 .page_info{
  width: 100%; height: 30px;
  font-weight: 600;
  line-height: 30px;
}
.main_page01 .page_info p{
  color: rgb(146, 146, 146);
  padding-left: 10px;
}

.main_page01 .side_menu{
  margin-top: 10px;
  width:100px; height: 500px;
  float: left;
}

/* 사이드메뉴 */
.main_page01 .side_menu .navigation {
  position: relative;
  height: 500px;
  width: 70px;
  background: #ad2944;
  box-shadow: 10px 0 0 white;
  border-left: 5px solid #ad2944;
  overflow-x: hidden;
  transition: width 0.5s;
  border-radius: 10px;
  left: 10px;
}

.main_page01 .side_menu .navigation:hover {
  width: 300px;
}

.main_page01 .side_menu .navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.main_page01 .side_menu .navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main_page01 .side_menu .navigation ul li.active {
  background: white;
}
.main_page01 .side_menu .navigation ul li.active a{
  color:#c52f4d;
}
.main_page01 .side_menu .navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.main_page01 .side_menu .navigation ul li.active a::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: #ad2944;
  border-radius: 50%;
  box-shadow: 15px 15px 0 white;
}

.main_page01 .side_menu .navigation ul li.active a::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: #ad2944;
  border-radius: 50%;
  box-shadow: 15px -15px 0 white;
}

.main_page01 .side_menu .navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.main_page01 .side_menu .navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5em;
  z-index: 1;
}

.main_page01 .side_menu .navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}