@media print{
  
  /* 사유작성 */
   .write_info table thead th h1{
    border-bottom: 1px solid gainsboro;
    text-align: center;
  }

   .write_info table tbody tr td,
   .write_info table tfoot tr td{
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: 100px;
    padding-left: 10px;
  }
   .write_info table thead th h1,
   .write_info table tfoot tr td h1{text-align: center}
  
   .write_info table thead th h1,
   .write_info table tfoot tr td ol,
   .write_info table tfoot tr td h1{padding: 20px;}
  
   .write_info table tbody tr td:first-child,
   .write_info table tfoot tr td:first-child{border-left: 1px solid gainsboro;}
   .write_info table tbody tr .title{width: 200px;}
   .write_info table tbody tr td{ padding: 2px;}
  /* input, select */
   .write_info table tbody tr td input,
   .write_info table tbody tr td select{
    padding: 8px;
    margin: 3px;
    outline: none;
    border-radius: 5px;
    border:1px solid #bdbdbd;
    cursor: pointer;
    transition: all 0.5s;
  }
   .write_info table tbody tr td input[type=text]{font-size: 10pt;}
   .write_info table tbody tr td input[type=tel]{width: 50px;}

  
  /* 본인 성명, 부모님 성명 경유*/
  .write_info table tbody .user_sign {
    height: 200px;
  }
   .write_info table tbody .user_sign td p{text-align: center; padding-top: 10px;}
   .write_info table tbody .user_sign td p span{padding-left: 80px;}
   .write_info table tbody .sign td p{text-align: end; padding-right: 10px;}
   .write_info table tbody .sign{height:50px;}
  
   .info table tr td{
    position:absolute;
    border: 1px solid gainsboro;
  }
  
   .info_mwn {
    overflow: hidden;
    position: relative;
    width: 95%; height: 1060px;
    padding: 10px;
  }
   .info_mwn .head{
    text-align: center;
    margin: 20px 0px 20px 0px;
  }
   .info_mwn .head h2{
    padding-bottom: 20px;
  }
   .info_mwn .head p b{text-decoration: underline; color:red;}
   .info_mwn .body{
    margin-top: 20px;
   
  }
   .info_mwn .body .title{
    border: 1px solid gainsboro;
    width: 98%; height: 100%;
    margin-top: 10px;
    padding: 10px;
  }
   .info_mwn .body .title li ul li{
    padding: 5px 0px 5px 15px;
  }
   .info_mwn .body .title li ul li span {
    float: right;
  }
   .info_mwn .footer{
    margin-top: 20px;
    width: 690px; height: 420px;
    border: 1px solid gainsboro;
    text-align: center;
  }
   .info_mwn .footer h3,
   .info_mwn .footer h2{
    padding: 20px 5px 10px 5px;
  }
   .info_mwn .footer b{
    font-size: 13pt;
    padding: 0px 10px 0px 10px;
  }
   .info_mwn .footer b span{
    color:red;
  }
   .info_mwn .footer .info{
    margin-top: 80px;
  }
   .info_mwn .footer .info p{
    padding-top: 20px;
  }

  
}

