.tg{
  position: absolute;
  top:50%; left: 50%;
  transform:translate(-50%, -50%);
  width: 80%;
  padding-top: 10%;
  padding-bottom: 10%;

}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-xhiq{border-color:inherit;font-family:Arial, Helvetica, sans-serif !important;;font-size:20px;text-align:center;
  vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-h8l1{font-family:Impact, Charcoal, sans-serif !important;;font-size:32px;text-align:center;vertical-align:top}

.print_table{
    position: absolute;
    width: 50%;
    height: 100%;
    top:70%;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow-y: scroll;
    border: 1px solid gray;
    z-index:2;
}

/*버튼*/
.btn_box{
    width: 450px; height: 40px;
    position: absolute;
    top:30%; left: 75%;
    transform:translateY(-50%, -50%);
}
button[class*=btn]{
  width:120px;
  height:40px;
  background-color:#004fff;
  border:none;
  color:white;
  box-shadow:0 4px 16px rgba(0, 79, 255, 0.3);
  font-size:16px;
  font-weight:bold;
  border-radius: 20px;
  transition:0.3s;
}
button[class*=btn]:hover{
    background-color:#004fffe6;
    cursor:pointer;
    box-shadow:0 2px 4px rgba(0, 79, 255, 0.6);
}
button[class*=btn]:focus{outline:0;}

.print_table .write_info table{
  overflow: hidden;
  position: absolute;
  width: 95%; height: 1080px;
  padding: 30px 10px 30px 10px;
}

/* 사유작성 */
.print_table .write_info table thead th h1{border: 1px solid gainsboro;}
.print_table .write_info table tbody tr td,
.print_table .write_info table tfoot tr td{
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  width: 100px;
  padding-left: 10px;
}
.print_table .write_info table thead th h1,
.print_table .write_info table tfoot tr td h1{text-align: center}

.print_table .write_info table thead th h1,
.print_table .write_info table tfoot tr td ol,
.print_table .write_info table tfoot tr td h1{padding: 20px;}

.print_table .write_info table tbody tr td:first-child,
.print_table .write_info table tfoot tr td:first-child{border-left: 1px solid gainsboro;}
.print_table .write_info table tbody tr .title{width: 200px;}


/* input, select */
.print_table .write_info table tbody tr td input,
.print_table .write_info table tbody tr td select{
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border:1px solid #bdbdbd;
  cursor: pointer;
  transition: all 0.5s;
}
.print_table .write_info table tbody tr td input[type=text]{font-size: 10pt;}
.print_table .write_info table tbody tr td input[type=tel]{width: 50px;}
.print_table .write_info table tbody tr td input:hover,
.print_table .write_info table tbody tr td select:hover{border: 1px solid #004fff;}

/* 본인 성명, 부모님 성명 경유*/
.print_table .write_info table tbody .user_sign td p{text-align: center; padding-top: 10px;}
.print_table .write_info table tbody .user_sign td p span{padding-left: 80px;}
.print_table .write_info table tbody .sign td p{text-align: end; padding-right: 10px;}


.print_table .info table tr td{
  position:absolute;
  border: 1px solid gainsboro;
  padding: 30px 10px 30px 10px;
}