

.tg{
  position: absolute;
  top:50%; left: 50%;
  transform:translate(-50%, -50%);
  padding-top: 10%;
  padding-bottom: 10%;

}
.print_table{
    position: absolute;
    width: 95%;
    height: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow-y: scroll;
    border: 1px solid gray;
    z-index:2;
}

/*버튼*/
.btn_box{
    width: 450px; height: 40px;
    position: absolute;
    top:30%; left: 75%;
    transform:translateY(-50%, -50%);
}
button[class*=btn]{
  width:120px;
  height:40px;
  background-color:#004fff;
  border:none;
  color:white;
  box-shadow:0 4px 16px rgba(0, 79, 255, 0.3);
  font-size:16px;
  font-weight:bold;
  border-radius: 20px;
  transition:0.3s;
}
button[class*=btn]:hover{
    background-color:rgba(0, 79, 255, 0.9);
    cursor:pointer;
    box-shadow:0 2px 4px rgba(0, 79, 255, 0.6);
}
button[class*=btn]:focus{outline:0;}
