html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}

/*검색*/
.search_b{
  position: absolute;
  top:35%; left: 50%;
  transform: translate(-50%, -50%);
  height: 50px; width: 85%;
  z-index: 1;
}

/*테이블*/

#table_2{
  position: absolute;
  width: 80%;
  left: 50%; top: 70%;
  transform: translate(-50%, -50%);
  z-index:1;
  background: white;
  border-left: none;
}

  #table_2 th, td{
  padding-top: 5px;
  padding-bottom: 5px;
}
#table_2 th{
    width: 120px;
    height: 20px;
    height: 20px;
    font-size:15pt;
    border: 1px solid gray;
  }
 
    
  #table_2 td{
    width: 120px;
    height: 20px;
    padding-right: -5px;
    border-style: solid;
    border-width: 0 1px  1px 1px; 
    border-color: rgb(190, 188, 188) rgb(190, 188, 188); 
    text-align: center;
    font-size:12pt;
}
  
/*버튼*/
.popup_btn{
  width: 80px; height: 30px;
  border: solid 1px rgb(167, 43, 67);
  color: black;
  font-size: 13pt;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  background: fixed;

}
.popup_btn:hover{
  color: black;
  font-size: 11pt;
  font-weight: bold;
}

.excel{
  float: left;
  cursor: pointer;
}




  



