html,
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}



.search_status{
    font-size: 12pt;
    width: 200px; 
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgb(224, 134, 134);
    cursor:pointer;
  }
  
  .search_minor{
    font-size: 12pt;
    width: 200px; 
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgb(224, 134, 134);
    cursor:pointer;
  }
.search_ip{
   font-size: 12pt;
  width: 300px; height: 18px;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(224, 134, 134);
}
.search_btn{
  width: 50px; height: 100%;
  outline: none;
  float: right;
  background: fixed;
  border-radius: 100%;
  border: 2px solid rgb(224, 134, 134);
  cursor:pointer;
}

.excel{
  float: left;
  cursor: pointer;
}